<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google" content="notranslate" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css" />
    <link rel="stylesheet" href="./css/our.min.css"/>
    <title>Our History</title>
    <style>
      .notfound {
        padding: 40px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        text-align: center;
        text-transform: uppercase;
        .normal {
          text-transform: none;
        }
      }
    </style>
  </head>
  <body>
    <main class="notfound">
      <h1>ERROR: <%= code %></h1>
      <p><%= message %></p>
      <p class="normal">Kembali ke <a href="/">Homepage</a>.</p>
    </main>
  </body>
</html>