<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google" content="notranslate" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css" />
    <link rel="stylesheet" href="./css/our.min.css"/>
    <title>Our History</title>
  </head>
  <body>
    <section class="section title center" id="title"><h1>Our History</h1></section>
    <section class="section welcome center" id="welcome">
      <div class="user-summary">
        <p>Selamat datang, <b>Deva Krista Aranda</b>.</p>
      </div>
      <div class="user-signout">
        <button class="btn-logout"><i class="fa-regular fa-right-from-bracket"></i> Keluar Akun</button>
      </div>
    </section>
    <section class="section main" id="main">
      <div class="card folder" role="button">
        <div class="card-title">
          <p>Foto-Foto</p>
        </div>
      </div>
      <div class="card search" role="button">
        <div class="card-title">
          <p>Temukan</p>
        </div>
      </div>
      <div class="card upload" role="button">
        <div class="card-title">
          <p>Upload</p>
        </div>
      </div>
    </section>
    <footer class="footer" id="footer">
      <p>Dibuat dengan <i class="fa-solid fa-heart"></i> oleh Deva Krista Aranda</p>
    </footer>
  </body>
</html>